aside{
    position:fixed;
    top:0%;
    right:0%;
    z-index: 9999;
    background-color: white;
    width: 25%;
    height: 100%;
    overflow-y:scroll;
    scroll-padding: 0px;
    box-shadow: 10px 5px 5px 10px gray;
}


@media screen and (max-width: 480px) {
    aside {
      width: 90%;
      height: 100%;
    }
  }